<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Flight List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" />

    <style>
        tr {
            text-align: center;
        }

        h1 {
            padding-top: 20px;
            padding-bottom: 15px;
            text-align: center;
        }

        form {
            margin-top: 100px;
            text-align: center;
        }

        table {
            font-size: large;
            background-color: rgb(249, 249, 249);
            border-radius: 15px 15px 15px 15px;
        }

    </style>

</head>

<body>

    <form th:object="${flight} "th:action="@{save}" action="#" method="POST">
        <div class="form-group">
            <input type="text" required="required" placeholder="Departure Time" th:maxlength="5" th:field="${flight.depTime}"/>
            <input type="text" required="required" placeholder="Destination" th:maxlength="30" th:field="${flight.destination}"/>
            <input type="text" placeholder="Gate" th:maxlength="5" th:field="${flight.gate}"/>
            <select th:field="*{status}">
                <option th:each="status: ${statuses}" th:value="${status.statusId}" th:text="${status.name}" />
            </select>
        </div>
        <input type="submit" class="btn btn-success" th:value="'Add Flight'"/>
    </form>

    <div class="container">
        <h1>DEPARTURES</h1>

        <table class="table">
            <tr>
                <th>TIME</th>
                <th>DESTINATION</th>
                <th>GATE</th>
                <th>STATUS</th>
            </tr>
            <tr th:each="flight : ${flights}">
                <td th:text="${flight.depTime}"></td>
                <td th:text="${flight.destination}"></td>
                <td th:text="${flight.gate}"></td>
                <td th:text="${flight.status.name}"></td>
            </tr>
        </table>

    </div>

</body>
</html>